html {
    height: 100%;
}

body {
    background: url('/background-image') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    height: 100%;
}

div.container {
    background-color: white;
    min-height:100%;
}

div#slides {
    margin-bottom: 10px;
}

.btn-success {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
}