{% extends "admin.html" %}

{% block content %}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Trabajo</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for work in works %}
        <tr>
            <td>{{work.title}}</td>
            <td>{{work.date.print-date}}</td>
            <td><ol class="breadcrumb actions">
                <li>
                    <a href="/trabajos/{{work.id}}" title="Ver trabajo">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </li>
                <li>
                    <a title="Editar trabajo" href="/admin/trabajos/{{work.id}}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </li>
		<li>
		    <a title="Borrar trabajo" href="/admin/trabajos/borrar?id={{work.id}}" onclick="javascript: return confirm('Borrar el trabajo?');">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
		</li>
            </ol>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/admin/trabajos/nuevo" class="btn btn-default">
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo trabajo
</a>

{% endblock %}
