{% extends "admin.html" %}

{% block content %}
<form class="form-horizontal" method="post" action="{{action}}">
    <fieldset>

        <!-- Form Name -->
        <legend>Editar modelo <b>{{model.title}}</b></legend>

        <input type="hidden" name="id" value="{{model.id}}">

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-2 control-label" for="title">Titulo</label>
            <div class="col-md-7">
                <input id="title" name="title" placeholder="Titulo del modelo" class="form-control input-md" type="text" value="{{model.title}}">
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="description"></label>
            <div class="col-md-9">
                <textarea class="form-control html" placeholder="Descripcion del modelo" id="description" name="description" rows="10" cols="80">{{model.description}}</textarea>
            </div>
        </div>

	<!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="short-description">Descripcion corta</label>
            <div class="col-md-9">
                <textarea class="form-control html" placeholder="Descripcion corta del modelo" id="short-description" name="short-description" rows="10" cols="80">{{model.short-description}}</textarea>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-2 control-label" for="date">Fecha</label>
            <div class='input-group date'>
                <input id="date" name="date" placeholder="Fecha del modelo" class="form-control input-md" type="text" value="{{model.date.print-date}}">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </div>
        </div>

	<!-- Prepended checkbox -->
        <div class="form-group">
            <label class="col-md-2 control-label" for="publish">Publicar</label>
            <div class="col-md-7">
		<label class="checkbox-inline" for="publish"></label>
		<input name="publish" id="publish" {% if model.publish %}checked="checked"{% endif %}" type="checkbox">
            </div>
	</div>


        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="save"></label>
            <div class="col-md-9">
                <input type="submit" id="save" name="save" class="btn btn-primary" value="Guardar"></input>
                <a id="cancel" name="cancel" class="btn btn-default" href="/admin/modelos">Cancelar</a>
            </div>
        </div>
    </fieldset>
</form>

<h2>Imagenes</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Imagen</th>
	    <th>Titulo</th>
	    <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for picture in model.pictures %}
        <tr>
            <td><img src="{{picture.uri}}" width="100px" width="100px"></img></td>
	    <td>{{picture.title}}</td>
	    <td>{{picture.date.print-date}}</td>
            <td><ol class="breadcrumb actions">
                <li>
                    <a title="Editar imagen" href="/admin/imagenes-modelo?modelo={{model.id}}&imagen={{picture.id}}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </li>
		<li>
                    <a title="Borrar imagen" href="/admin/imagenes-modelo/borrar?model-id={{model.id}}&picture-id={{picture.id}}" onclick="javascript: return confirm('Borrar la imagen?');">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </li>
            </ol>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/admin/imagenes-modelo/nueva?modelo={{model.id}}" class="btn btn-default">
    <span class="glyphicon glyphicon-plus"></span>
    Nueva imagen
</a>

{% endblock content %}
