{% extends "admin.html" %}

{% block content %}

<form class="form-horizontal" method="post" action="{{action}}">
    <fieldset>

        <!-- Form Name -->
        <legend>Contacto</legend>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="content"></label>
            <div class="col-md-9">
                <textarea class="form-control html" placeholder="Contenido de la pagina de inicio" id="content" name="content" rows="10" cols="80">{{contact-page.content }}</textarea>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="save"></label>
            <div class="col-md-9">
                <input type="submit" id="save" name="save" class="btn btn-default" value="Guardar"></input>
            </div>
        </div>
    </fieldset>
</form>

{% endblock %}
