{% extends "admin.html" %}

{% block content %}

<form class="form-horizontal" method="post" action="{{action}}">
    <fieldset>

        <!-- Form Name -->
        <legend>Proceso</legend>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="content"></label>
            <div class="col-md-9">
                <textarea class="form-control html" placeholder="Contenido de la pagina de inicio" id="content" name="content" rows="10" cols="80">{{process-page.content }}</textarea>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="save"></label>
            <div class="col-md-9">
                <input type="submit" id="save" name="save" class="btn btn-default" value="Guardar"></input>
            </div>
        </div>
    </fieldset>
</form>

<h2>Imagenes</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Imagen</th>
	    <th>Titulo</th>
	    <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for picture in process-page.pictures %}
        <tr>
            <td><img src="{{picture.uri}}" width="100px" height="100px"></img></td>
	    <td>{{picture.title}}</td>
	    <td>{{picture.date.print-date}}</td>
            <td><ol class="breadcrumb actions">
		<li>
                    <a title="Editar imagen" href="/admin/imagenes-proceso?imagen={{picture.id}}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </li>
                <li>
                    <a title="Borrar imagen" onclick="javascript:return confirm('Borrar la imagen?');"
		       href="/admin/imagenes-proceso/borrar?id={{picture.id}}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </li>
            </ol>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/admin/imagenes-proceso/nueva" class="btn btn-default">
    <span class="glyphicon glyphicon-plus"></span>
    Nueva imagen
</a>

{% endblock %}
