{% extends "admin.html" %}

{% block content %}
<form class="form-horizontal" method="post" action="{{action}}">
    <fieldset>

        <!-- Form Name -->
        <legend>Inicio</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-2 control-label" for="title">Titulo</label>
            <div class="col-md-7">
                <input id="title" name="title" placeholder="Titulo de la pagina de inicio" class="form-control input-md" type="text" value="{{welcome-page.title}}">
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="content"></label>
            <div class="col-md-9">
                <textarea class="form-control html" placeholder="Contenido de la pagina de inicio" id="content" name="content" rows="10" cols="80">{{welcome-page.content }}</textarea>
            </div>
        </div>

	<!-- Text input-->
        <div class="form-group">
            <label class="col-md-2 control-label" for="message">Mensaje de inicio</label>
            <div class="col-md-7">
                <input id="message" name="message" placeholder="Mensaje de inicio" class="form-control input-md" type="text" value="{{welcome-page.message}}">
            </div>
        </div>

	<!-- Text input-->
        <div class="form-group">
            <label class="col-md-2 control-label" for="button-msg">Boton de inicio</label>
            <div class="col-md-7">
                <input id="button-msg" name="button-msg" placeholder="Titulo del boton de inicio" class="form-control input-md" type="text" value="{{welcome-page.button-msg}}">
            </div>
        </div>

        <h2>Marketing</h2>

        {% lisp (render-marketing-admin) %}

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="save"></label>
            <div class="col-md-9">
                <input type="submit" id="save" name="save" class="btn btn-default" value="Guardar"></input>
            </div>
        </div>
    </fieldset>
</form>

<h2>Imagen de fondo</h2>

<img src="/background-image" width="100px" height="100px"/>

<form action="/upload-background-image" method="post" enctype="multipart/form-data">
    <input name="file" type="file" placeholder="Subir nueva imagen de fondo"/>
    <input type="submit" value="Cargar"/>
</form>

<h2>Slides</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Imagen</th>
	    <th>Titulo</th>
	    <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for slide in slides %}
        <tr>
            <td><img src="{{slide.uri}}" width="100px" height="100px"></img></td>
	    <td>{{slide.title}}</td>
	    <td>{{slide.date.print-date}}</td>
            <td><ol class="breadcrumb actions">
		<li>
                    <a title="Editar slide" href="/admin/slides/editar?id={{slide.id}}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </li>
                <li>
                    <a title="Borrar slide" onclick="javascript:return confirm('Borrar la slide?');"
		       href="/admin/slides/borrar?id={{slide.id}}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </li>
            </ol>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/admin/slides/nueva" class="btn btn-default">
    <span class="glyphicon glyphicon-plus"></span>
    Nueva slide
</a>

{% endblock %}
