{% extends "admin.html" %}

{% block content %}
<form class="form-horizontal"
      method="post"
      enctype="multipart/form-data"
      action="{{action}}">
    <fieldset>

        <!-- Form Name -->
        <legend>Editar slide {{slide.title}}</legend>

	<input type="hidden" name="slide" value="{{slide.id}}"/>

	<div class="form-group">
	    <img src="{{slide.uri}}" width="200px" height="200px"/>
	</div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-2 control-label" for="title">Titulo</label>
            <div class="col-md-7">
                <input id="title" name="title" placeholder="Titulo de la imagen" class="form-control input-md" type="text" value="{{slide.title}}">
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="description"></label>
            <div class="col-md-9">
                <textarea class="form-control html" placeholder="Descripcion de la imagen" id="description" name="description" rows="10" cols="80">{{slide.description}}</textarea>
            </div>
        </div>

	<!-- Text input-->
        <div class="form-group">
            <label class="col-md-2 control-label" for="date">Fecha</label>
            <div class='input-group date'>
                <input id="date" name="date" placeholder="Fecha de la imagen" class="form-control input-md" type="text" value="{{slide.date.print-date}}">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="save"></label>
            <div class="col-md-9">
                <input type="submit" id="save" name="save" class="btn btn-primary" value="Guardar"></input>
                <a id="cancel" name="cancel" class="btn btn-default" href="/admin">Cancelar</a>
            </div>
        </div>
    </fieldset>
</form>

{% endblock content %}
