{% extends "base.html" %}

{% block logo %}
<span>Administracion</span>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
<style>
 body{background-color:#F5F5F5;}
 div.header{min-height: 50px;}
</style>
{% endblock %}

{% block menu %}
<ul class="nav nav-pills pull-right">
    <li {% ifequal mode "welcome" %} class="active" {% endifequal %}><a href="/admin/inicio">{_ "Inicio" _}</a></li>
    <li {% ifequal mode "models" %} class="active" {% endifequal %}><a href="/admin/modelos">{_ "Modelos" _}</a></li>
    <li {% ifequal mode "works" %} class="active" {% endifequal %}><a href="/admin/trabajos">{_ "Trabajos" _}</a></li>
    <li {% ifequal mode "process" %} class="active" {% endifequal %}><a href="/admin/proceso">{_ "Proceso" _}</a></li>
    <li {% ifequal mode "contact" %} class="active" {% endifequal %}><a href="/admin/contacto">{_ "Contacto" _}</a></li>
    <li><a href="/">{_ "Ir a la pagina" _}</a></li>
</ul>
{% endblock menu %}

{% block project-name %}
Administracion
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
 $(function () {
     CKEDITOR.replaceClass= 'html'
     $('.date').datetimepicker({language: 'es'});
 });
</script>
{% endblock %}
