{% extends "admin.html" %}

{% block content %}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Modelo</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for model in models %}
        <tr>
            <td>{{model.title}}</td>
            <td>{{model.date.print-date}}</td>
            <td><ol class="breadcrumb actions">
                <li>
                    <a href="/modelos/{{model.id}}" title="Ver modelo">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </li>
                <li>
                    <a title="Editar modelo" href="/admin/modelos/{{model.id}}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </li>
		<li>
		    <a title="Borrar modelo" href="/admin/modelos/borrar?id={{model.id}}" onclick="javascript: return confirm('Borrar el modelo?');">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
		</li>
            </ol>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/admin/modelos/nuevo" class="btn btn-default">
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo modelo
</a>

{% endblock %}
