{% extends "admin.html" %}

{% block content %}
<form class="form-horizontal" method="post" action="{{action}}">
    <fieldset>

        <!-- Form Name -->
        <legend>Nuevo modelo</legend>
	
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-2 control-label" for="title">Titulo</label>
            <div class="col-md-7">
                <input id="title" name="title" placeholder="Titulo del modelo" class="form-control input-md" type="text">
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="description"></label>
            <div class="col-md-9">
                <textarea class="form-control html" placeholder="Descripcion del modelo" id="description" name="description" rows="10" cols="80"></textarea>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-2 control-label" for="date">Fecha</label>
            <div class='input-group date'>
                <input id="date" name="date" placeholder="Fecha del modelo" class="form-control input-md" type="text">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="save"></label>
            <div class="col-md-9">
                <input type="submit" id="save" name="save" class="btn btn-primary" value="Crear"></input>
                <a id="cancel" name="cancel" class="btn btn-default" href="/admin/modelos">Cancelar</a>
            </div>
        </div>
    </fieldset>
</form>

{% endblock content %}
