<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Venta de Ukeleles La Plata, Buenos Aires, Argentina. Luthier Marcos Montone">
        <meta name="author" content="Marcos Montone">
        <meta content="Ukeleles,Argentina,La Plata,Buenos Aires" name="keywords">
        <link rel="shortcut icon" href="static/favicon.ico">

        <title>{{title}}</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/jumbotron-narrow.css" rel="stylesheet">

        <link rel="stylesheet" href="/static/bower_components/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />

        {% block styles %}
        <link href="/static/ukeleles.css" rel="stylesheet">
        {% endblock %}

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="container">
            {% block container %}
            {% block header %}
            <div class="header">
		<div style="float:right">
                    <a href="http://free-website-translation.com/" id="ftwtranslation_button" hreflang="es" title="" style="border:0;"><img src="http://free-website-translation.com/img/fwt_button_en.gif" id="ftwtranslation_image" alt="FWT Homepage Translator" style="border:0;"/></a> <script type="text/javascript" src="http://free-website-translation.com/scripts/fwt.js" /></script>
                </div>
                {% block logo %}
                <a href="/">
                    <img src="/static/images/logo.png" width="35%" height="35%" style="margin-top: 10px; margin-left: 10px; margin-bottom:10px; float:left;">
                </a>
                {% endblock %}
                {% block menu %}
                <ul class="nav nav-pills" style="margin-left:300px;padding-top:100px;">
                    <li {% ifequal mode "welcome" %} class="active" {% endifequal %}><a href="/inicio">{_ "Inicio" _}</a></li>
                    <li {% ifequal mode "models" %} class="active" {% endifequal %}><a href="/modelos">{_ "Modelos" _}</a></li>
                    <li {% ifequal mode "works" %} class="active" {% endifequal %}><a href="/trabajos">{_ "Stock" _}</a></li>
                    <li {% ifequal mode "process" %} class="active" {% endifequal %}><a href="/proceso">{_ "Proceso" _}</a></li>
                    <li {% ifequal mode "contact" %} class="active" {% endifequal %}><a href="/contacto">{_ "Contacto" _}</a></li>
                </ul>                
                {% endblock menu %}
            </div>
            {% endblock header %}

            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="footer">
                <a style="float:right;" href="/admin">Admin</a>
                <p>&copy; Marcos Montone 2014</p>
            </div>
            {% endblock container %}
        </div> <!-- /container -->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/static/bower_components/fancybox/source/jquery.fancybox.pack.js"></script>

        <script type="text/javascript">
         $(document).ready(function() {
             $('.fancybox').fancybox();
         });
        </script>

        {% block javascript %}
        {% endblock javascript %}
        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-54795952-1', 'auto');
         ga('send', 'pageview');
        </script>
    </body>
</html>
