{% extends "base.html" %}

{% block content %}

<div class="row lead">
    <div class="col-lg-12">
        {{ contact.content | safe }}
    </div>
</div>

<div class="lead">
    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fmontoneukes&amp;width&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=635496733211301" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:590px;" allowTransparency="true"></iframe>
</div>

{% endblock content %}
