{% extends "base.html" %}
{% set-package "webapp" %}

{% block content %}

{% for model in models %}

<div class="row">

    <div class="col-lg-7 col-md-7">
        <img class="img-responsive" src="{{model.pictures.first.uri}}" alt="">
    </div>

    <div class="col-lg-5 col-md-5">
        <h3>{{model.title}}</h3>
        <p>{{model.short-description | safe}}</p>
        <a class="btn btn-primary" href="/modelos/{{model.id}}">Ver el modelo<span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>

<hr>
{% endfor %}

{% endblock %}
