{% extends "base.html" %}

{% set-package "webapp" %}

{% block styles %}
<link href="/static/ukeleles.css" rel="stylesheet">
<link href="/static/slider.css" rel="stylesheet">
{% endblock %}

{% block content %}

{% block slider %}
<div id="slides">
    {% for slide in slides %}
    <img src="{{slide.uri}}">
    {% endfor %}
</div>
{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
    <p class="lead">{{welcome.message}}</p>
    <p><a class="btn btn-lg btn-success" href="/trabajos" role="button">{{welcome.button-msg}}</a></p>
</div>
{% endblock jumbotron %}

<div class="row lead">
    <div class="col-lg-12">
        {{ welcome.content | safe }}
    </div>
</div>

<div class="row marketing">
    {% lisp (render-marketing (get-marketing)) %}
</div>
{% endblock content %}

{% block javascript %}
<script src="/static/Slides-SlidesJS-3/source/jquery.slides.min.js"></script>
<script type="text/javascript">
 $(document).ready(function() {
     $("#slides").slidesjs({
         play: { auto: true },
	 navigation: { active: false },
	 pagination: { active: false }
     });
 });
</script>
{% endblock javascript %}
