{% extends "base.html" %}
{% set-package "webapp" %}

{% block content %}

{% for work in works %}

<div class="row">

    <div class="col-lg-7 col-md-7">
        <img class="img-responsive" src="{{work.pictures.first.uri}}" alt="">
    </div>

    <div class="col-lg-5 col-md-5">
        <h3>{{work.title}}</h3>
        <p>{{work.short-description | safe}}</p>
        <a class="btn btn-primary" href="/trabajos/{{work.id}}">Ver el trabajo<span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>

<hr>
{% endfor %}

{% endblock %}
