{% extends "base.html" %}
{% set-package "webapp" %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1>{{work.title}}</h1>
	<p class="lead">{{work.description | safe}}</p>
    </div>    
</div>

<div class="row">
    {% for picture in work.pictures %}
    <div class="col-lg-6 col-md-6 portfolio-item">
        <a href="{{picture.uri}}" class="fancybox" rel="gallery" title="{{picture.title}}">
            <img class="img-responsive" src="{{picture.uri}}">
        </a>
        <h3>{{picture.title}}</h3>
        <p>{{picture.description | safe}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
